.hire{

  background:#f7f7f7;
  padding:100px 8%;

}

.hire h2{

  text-align:center;
  font-size:40px;
  font-weight:600;
  margin-bottom:60px;
  color:#111;

}

.hire-grid{

  max-width:820px;
  margin:0 auto;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;

}

.hire-grid div{
  display:flex;
  flex-direction:column;
}

.hire-grid input,
.hire-grid select,
.hire-grid textarea{

  padding:14px 16px;
  border:1px solid #ddd;
  border-radius:6px;

  font-size:14px;
  background:white;
  color:#111;

  outline:none;
  transition:0.2s;

}

.hire-grid input:focus,
.hire-grid select:focus,
.hire-grid textarea:focus{

  border-color:#b70c11;

}

.full{
  grid-column:1 / -1;
}

.hire-grid textarea{
  min-height:120px;
}

.hire-grid button{

  grid-column:1 / -1;

  margin-top:10px;

  background:#111;
  color:white;

  border:none;
  padding:14px;

  font-size:14px;
  font-weight:600;

  cursor:pointer;

  border-radius:6px;

  transition:0.3s;

}

.hire-grid button:hover{

  background:#b70c11;

}

/* ERRO */

.error{

  margin-top:4px;
  font-size:12px;
  color:#b70c11;

}

/* ANIMAÇÃO */

.fade-in{
  opacity:0;
  transform:translateY(40px);
  transition:all 0.8s ease;
}

.fade-in.show{
  opacity:1;
  transform:translateY(0);
}

@media(max-width:768px){

  .hire{

    padding:60px 20px;

  }

  .hire h2{

    font-size:28px;
  }

  .hire-grid{

    grid-template-columns:1fr;

  }

}